/* main colors */


/* blue:#1da69b */


/* brown:#f49522 */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body {
    font-family: 'Lato', sans-serif;
    background-color: black;
}

.main-slider .owl-theme .owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main-slider .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #696969;
}

.main-slider .owl-theme .owl-dots .owl-dot.active span,
.main-slider .owl-theme .owl-dots .owl-dot:hover span {
    background: #f49522;
}

.main-slider .slide-item {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-slider .owl-carousel .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.main-slider .caption>* {
    margin-bottom: 25px;
}

.main-slider .caption {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    position: absolute;
    color: white;
    font-weight: bold;
    z-index: 2;
}

.main-slider .caption h2 {
    font-size: 40px;
    padding: 0 20px;
}

.main-slider .caption h3 {
    font-size: 25px;
    padding: 0 20px;
}

.main-slider .slide-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8295693277310925) 0%, rgba(0, 0, 0, 0.8911939775910365) 100%);
}

section.services {
    background-image: url(../img/pattern-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #222429;
    background-size: cover;
    padding: 120px 0;
}

section.blog-single {
    background-image: url(../img/lines.png);
    background-position: center center;
    background-repeat: repeat;
    background-color: #222429;
}

section.single-service {
    background-image: url(../img/lines.png);
    background-position: center center;
    background-repeat: repeat;
    background-color: #222429;
    padding: 70px 0;
}

section.services-page {
    background-image: url(../img/pattern-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #222429;
    background-size: cover;
}

section.blog {
    background-image: url(../img/lines.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #222429;
    background-size: cover;
    padding: 70px 0;
}

section.about {
    background-image: url(../img/lines.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #222429;
    background-size: cover;
    padding: 100px 0;
}

section.about-page {
    background-image: url(../img/lines.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #222429;
    background-size: cover;
    padding: 100px 0;
    position: relative;
}

section.clients {
    background-image: url(../img/pattern-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #5d5d5d;
    background-size: cover;
    padding: 70px 0;
}

.about-accordion {
    color: white;
}

.sec-title {
    margin-bottom: 15px;
}

.sec-title h2 {
    position: relative;
    display: inline-block;
    z-index: 1;
    font-size: 25px;
}

.sec-title h2 span {
    width: 120%;
    height: 100%;
    left: 53%;
    position: absolute;
    transform: skewx(20deg) translate(-50%, -50%);
    background-color: #f49522;
    z-index: -1;
    top: 50%;
    box-shadow: 0px 0px 16px 0px #000000a1;
}

.sec-title h2 span::after,
.sec-title h2 span::before {
    content: "";
    width: 35px;
    height: 3px;
    background-color: #222429;
    top: 8px;
    left: 0;
    position: absolute;
}

.sec-title h2 span::before {
    right: 0;
    left: auto;
    bottom: 8px;
    top: auto;
}

.sec-title p {
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 0;
}

.sec-title h2 {
    font-weight: 600;
    color: white;
    padding: 15px 0;
}

@media (max-width:575px) {
    .sec-title h2 {
        font-size: 20px;
    }
}

@media(min-width:575px) and (max-width:991px) {
    .container {
        max-width: 90%;
    }
}


/* contact page */

.form-sec {
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    /* box-shadow: 0px 0px 10px #4181af42; */
    border-radius: 1em;
}

.form-sec .form-head h2 {
    font-weight: bold;
    color: #f49421;
}

.form-sec .form-head p {
    font-size: 18px;
    color: white;
}

.form-sec input,
.form-sec textarea {
    border: none;
    border-bottom: 1px solid #86571c;
    border-radius: 0;
    position: relative;
    background-color: #1b1a1a61;
    z-index: 1;
    width: 100%;
    color: white;
    box-shadow: 0px 0px 14px 3px #00000045;
    padding: 8px 12px;
}

.form-sec textarea {
    height: 100px;
    resize: none;
}

.form-sec .wrapper {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0.7em 0;
    width: 100%;
}

.form-sec .wrapper .under-line {
    position: absolute;
    height: 1px;
    width: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #f49421;
    transition: all 0.3s linear;
    z-index: 2;
}

.form-sec .r .under-line {
    bottom: 7px;
}

.form-sec input:focus,
.form-sec textarea:focus {
    box-shadow: none;
    outline: 0;
}

.form-sec input:focus+.under-line,
.form-sec textarea:focus+.under-line {
    width: 100%;
}

.form-sec .btn {
    padding: 10px 35px;
    font-size: 18px;
    background-color: #f49421;
    color: white;
    transition: 0.3s;
}

.form-sec .btn:hover {
    background-color: black;
}

.contact-page .contact-detail h6:not(:first-child) {
    margin-bottom: auto;
    margin-top: 1.5em;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.contact-page .contact-detail h2 {
    font-weight: bold;
    color: #f49421;
}

.grey {
    color: #777777;
}

.contact-page .contact-detail p {
    font-size: 18px;
    color: white;
}

.contact-page .contact-detail a:link {
    font-size: 18px;
    color: #1a8d85;
    text-decoration: none;
    transition: 0.2s all linear;
}

.contact-page .contact-detail a:focus {
    font-size: 18px;
    color: rgb(54, 54, 54);
    text-decoration: none;
}

.contact-page .contact-detail a:hover {
    color: #50a8e7;
}

.contact-page .contact-detail a:visited {
    font-size: 18px;
    color: rgb(36, 36, 36);
    text-decoration: none;
}

.contact-page .contact-detail a i {
    color: #f49421;
}

.contact-page .contact-detail .social li {
    border: 1px solid black;
    padding: 7px 14px;
    transition: all 0.3s linear;
}

.contact-page .contact-detail .social li i {
    color: black
}

 ::-webkit-input-placeholder {
    opacity: 0.5;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}


/* Chrome <=56, Safari < 10 */

 :-moz-placeholder {
    opacity: 0.5;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}


/* FF 4-18 */

 ::-moz-placeholder {
    opacity: 0.5;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}


/* FF 19-51 */

 :-ms-input-placeholder {
    opacity: 0.5;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
}


/* IE 10+ */

 ::placeholder {
    opacity: 0.5;
    transition: opacity .5s;
}


/* Modern Browsers */

*:focus::-webkit-input-placeholder {
    opacity: 0;
}


/* Chrome <=56, Safari < 10 */

*:focus:-moz-placeholder {
    opacity: 0;
}


/* FF 4-18 */

*:focus::-moz-placeholder {
    opacity: 0;
}


/* FF 19-50 */

*:focus:-ms-input-placeholder {
    opacity: 0;
}


/* IE 10+ */

*:focus::placeholder {
    opacity: 0;
}

.contact-page {
    background-image: url(../img/pattern-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #222429;
    background-size: cover;
    padding: 120px 0;
}

.pricing {
    background-image: url(../img/pattern-1.png);
    background-position: center center;
    /* background-repeat: no-repeat; */
    background-color: #222429;
    background-size: cover;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(107, 107, 107);
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(107, 107, 107);
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(107, 107, 107);
}


/* Modern Browsers */


/* blog single */

.blog-single {
    padding: 0;
    color: white;
}

.blog-single .text-bold {
    font-weight: 700
}

.blog-single .text-small {
    font-size: 0.9rem
}

.blog-single strong {
    font-weight: 700
}

.blog-single a,
.blog-single i,
.blog-single span {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.blog-single a:hover,
.blog-single a:focus,
.blog-single i:hover,
.blog-single i:focus,
.blog-single span:hover,
.blog-single span:focus {
    text-decoration: none
}

.blog-single a i {
    -webkit-transition: none;
    transition: none
}

.blog-single ul {
    margin: 0;
    padding: 0
}


/* section{
    padding:100px 0;
    overflow-x:hidden
} */


/* button,input{
    outline:none !important;
    font-family:"Open Sans",sans-serif
}
button{
    cursor:pointer
} */

.blog-single main,
.blog-single aside {
    padding: 0px 0 100px
}

.blog-single h1 a {
    margin-left: 10px;
    font-size: 0.9em;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #555;
    text-decoration: none
}

.blog-single h1:hover a {
    opacity: 1
}

.blog-single .page-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fafafa;
    margin-top: 30px
}

.blog-single .page-header h2 {
    margin-bottom: 0
}

.blog-single .animsition {
    z-index: 9999
}

.blog-single .widget {
    margin-bottom: 40px;
    padding: 30px;
    border: 1px solid #6d491e
}

.blog-single .widget header {
    margin-bottom: 20px
}

.blog-single .category a {
    color: #999;
    letter-spacing: 0.08em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px
}

.blog-single .category a::after {
    content: ',';
    color: #ddd;
    display: inline-block;
    margin-right: 5px
}

.blog-single .category a:last-of-type::after {
    display: none
}

.blog-single .category a:hover {
    color: #000
}


/* */

.blog-single .btn {
    border-radius: 0 !important
}

.blog-single .badge {
    font-weight: 300
}

.blog-single .badge-rounded {
    border-radius: 50px
}

.blog-single .heading-light {
    font-weight: 300 !important
}

.blog-single .heading-medium {
    font-weight: 400 !important
}

.blog-single .pagination-template li.page-item {
    margin: 0 5px
}

.blog-single .pagination-template a.page-link {
    width: 40px;
    height: 40px;
    line-height: 27px;
    border-radius: 50% !important;
    border: 1px solid #ddd;
    color: #555;
    text-align: center
}

.blog-single .pagination-template a.page-link:hover,
.blog-single .pagination-template a.page-link.active {
    background: #f5f5f5
}

.blog-single .widget.latest-posts .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.blog-single .text-primary {
    color: #19a79d !important;
}

.blog-single .text h6 {
    color: rgb(201, 201, 201)
}

.blog-single p.text-hero {
    font-size: 1.2em
}

.blog-single p.text-hero i {
    font-size: 1.2em
}

.blog-single p.small-text-hero {
    font-size: 1em
}

.blog-single .pagination-template li.page-item {
    margin: 0 5px
}

.blog-single .pagination-template a.page-link {
    width: 40px;
    height: 40px;
    line-height: 27px;
    border-radius: 50% !important;
    border: none;
    color: #555;
    text-align: center
}

.blog-single .pagination-template a.page-link:hover,
.pagination-template a.page-link.active {
    background: #eee
}

.blog-single .container-fluid {
    width: 100%
}

.blog-single .text-big {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.8em;
    color: #111
}

.blog-single a.hero-link {
    color: inherit !important;
    text-transform: uppercase;
    font-size: 1em;
    text-decoration: none !important;
    margin-top: 20px;
    font-weight: 300
}

.blog-single a.hero-link::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.blog-single a.hero-link:hover {
    color: #999 !important
}

.blog-single a.hero-link:hover::after {
    background: #999
}

.blog-single div[class*="-btn"] {
    cursor: pointer
}

.blog-single .post-meta {
    margin: 10px 0;
    font-size: 0.8em
}

.blog-single .post-meta .date {
    text-transform: uppercase;
    font-weight: 400
}

.blog-single .post-meta .date::after {
    display: none
}

.blog-single .post p:not(.lead) {
    font-weight: 400;
    /* color: #777; */
    font-size: 0.95em
}

.blog-single .post a {
    text-decoration: none
}

.blog-single .post a:hover,
.post a:focus {
    text-decoration: none
}

.blog-single .post h3 {
    line-height: 1.1em;
    color: #f49421;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 1rem
}

.blog-single .post h3:hover {
    color: #d67d12
}

.blog-single .post .category a {
    color: #19a49a;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none
}

.blog-single .post .date {
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa
}

.blog-single .post .avatar {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px
}

.blog-single .post .title,
.blog-single .post .date,
.blog-single .post .comments,
.blog-single .post .views {
    font-weight: 400;
    color: #999;
    text-transform: capitalize
}

.blog-single .post .title i,
.blog-single .post .date i,
.blog-single .post .comments i,
.blog-single .post .views i {
    margin-right: 5px;
    font-size: 1.1em
}

.blog-single .post .title::after,
.blog-single .post .date::after,
.blog-single .post .comments::after,
.blog-single .post .views::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc
}

.blog-single .post .post-tags {
    margin-top: 30px
}

.blog-single .post .post-tags .tag {
    padding: 5px 25px;
    border: 1px solid #ddd;
    margin: 5px;
    color: #fff;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px
}

.blog-single .post .post-tags .tag:hover {
    background: #da8620;
    color: #fff;
    border-color: #999
}

.blog-single .post .meta-last::after {
    display: none
}

@media (max-width: 767px) {
    .blog-single .post {
        margin-bottom: 40px
    }
    .blog-single .post:last-of-type {
        margin-bottom: 0
    }
}

.blog-single main.posts-listing {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0
}

.blog-single main.posts-listing .post {
    margin-bottom: 50px
}

.blog-single main.posts-listing .post-footer {
    font-size: 0.8em
}

.blog-single .widget.search .form-group {
    position: relative
}

.blog-single .widget.search input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 0.95em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: #00000026;
    padding: 0 10px;
}

.blog-single .widget.search input::-moz-placeholder {
    color: #aaa;
    font-family: "Open Sans", sans-serif
}

.blog-single .widget.search input::-webkit-input-placeholder {
    color: #aaa;
    font-family: "Open Sans", sans-serif
}

.blog-single .widget.search input:-ms-input-placeholder {
    color: #aaa;
    font-family: "Open Sans", sans-serif
}

.blog-single .widget.search input:focus-visible {
    outline: none;
}

.blog-single .widget.search .submit {
    height: 40px;
    padding: 0;
    line-height: 40px;
    background: none;
    border: none;
    color: #555;
    font-size: 0.9em;
    position: absolute;
    top: 0;
    right: 0
}


/* i[class*="icon-"] {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
} */

.blog-single .widget.search .submit i {
    margin-right: 7px;
}

.blog-single .widget.latest-posts a {
    display: block;
    color: #f29321;
    text-decoration: none
}

.blog-single .widget.latest-posts a:hover {
    color: #ad6919
}

.blog-single .widget.latest-posts .image {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 20px
}

.blog-single .widget.latest-posts .item {
    margin-bottom: 20px
}

.blog-single .widget.latest-posts strong {
    font-size: 0.95em;
    display: block;
    line-height: 1em
}

.blog-single .widget.latest-posts .views,
.widget.latest-posts .comments {
    font-size: 0.8em;
    font-weight: 400;
    color: #bbb;
    margin-top: 10px
}

.blog-single .widget.latest-posts .views i,
.widget.latest-posts .comments i {
    margin-right: 5px
}

.blog-single .widget.latest-posts .views::after,
.widget.latest-posts .comments::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc
}

.blog-single .widget.latest-posts .comments::after {
    display: none
}

.blog-single .widget.categories .item {
    background: #312f2f;
    padding: 10px;
    color: #b3b3b3;
    font-weight: 700;
}

.blog-single .widget.categories .item:nth-of-type(2n+2) {
    background: none
}

.blog-single .widget.categories .item a {
    color: inherit;
    font-size: 0.95em
}

.blog-single .widget.categories .item a:hover {
    color: #000;
    text-decoration: none
}

.blog-single .widget.categories .item span {
    font-size: 0.9em;
    color: #aaa
}

.blog-single .widget.tags .tag {
    padding: 5px 25px;
    border: 1px solid #ddd;
    margin: 5px 0;
    color: white;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px
}

.blog-single .widget.tags .tag:hover {
    background: #da8620;
    color: #fff;
    border-color: #999
}

.blog-single .blog-post {
    padding-left: 0;
    padding-right: 0
}

.blog-post .post-footer {
    font-size: 0.8em
}

.blog-single .blog-post .post-thumbnail img {
    width: 100%;
    margin-bottom: 10px
}

.blog-single h1 {
    color: white;
    line-height: 1.1em;
    font-weight: bold;
}

.blog-single .blog-post .post-footer {
    margin-top: 20px
}

.blog-post .post-body {
    margin-top: 40px
}

.blog-post .post-body h2,
.blog-post .post-body h3,
.blog-post .post-body h4,
.blog-post .post-body h5,
.blog-post .post-body h6 {
    color: #ef9121
}

.blog-post .post-body p {
    margin-bottom: 30px;
    color: white
}

.blog-post .post-body p:not(.lead) {
    font-size: 1em;
    line-height: 1.7em;
    color: #cecece
}

.blog-post .posts-nav {
    margin-top: 50px;
    color: #777;
    font-size: 0.8em
}

.blog-post .posts-nav a {
    color: inherit;
    width: calc(50% - 10px);
    padding: 10px 20px;
    border: 1px solid #5a5957;
    margin-bottom: 15px
}

.blog-post .posts-nav a:hover {
    border-color: #999
}

.blog-post .posts-nav a:hover .icon {
    background: #d68320;
    color: #fff;
    border-color: #d68320;
}

.blog-post .icon {
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 32px;
    border: 1px solid #ddd;
    color: #aaa;
    font-size: 1.5em;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s
}

.blog-post .icon.prev {
    margin-right: 20px
}

.blog-post .icon.next {
    margin-left: 20px
}

.blog-post .post-comments {
    margin-top: 50px
}

.blog-post .post-comments span.no-of-comments {
    color: #777;
    font-size: 0.8em;
    margin-left: 5px;
    font-weight: 400
}

.blog-post .post-comments header {
    margin-bottom: 40px
}

.blog-post .post-comments .comment:last-of-type .comment-body {
    border-bottom: none
}

.blog-post .post-comments .image {
    margin-right: 15px
}

.blog-post .post-comments .title::after {
    display: none
}

.blog-post .post-comments img {
    max-width: 40px;
    min-width: 40px;
    height: 40px
}

.blog-post .post-comments strong {
    display: block;
    color: #19a399
}

.blog-post .post-comments span.date {
    font-size: 0.8em;
    color: #ef9121
}

.blog-post .post-comments span.date::after {
    display: none
}

.blog-post .post-comments .comment-body {
    margin-left: 55px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee
}

.blog-post .post-comments p {
    font-size: 0.95em;
    color: white
}

.blog-post .add-comment {
    margin-top: 50px
}

.blog-post .add-comment header {
    margin-bottom: 30px
}

.blog-post .add-comment input,
.blog-post .add-comment textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #f69521;
    padding: 10px 10px;
    border-radius: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #00000026;
}

.blog-post .add-comment input::-moz-placeholder,
.blog-post .add-comment textarea::-moz-placeholder {
    font-weight: 400;
    font-size: 0.9em;
    color: #aaa;
    font-weight: 400;
    font-family: "Open Sans", sans-serif
}

.blog-post .add-comment input::-webkit-input-placeholder,
.blog-post .add-comment textarea::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 0.9em;
    color: #aaa;
    font-weight: 400;
    font-family: "Open Sans", sans-serif
}

.blog-post .add-comment input:-ms-input-placeholder,
.blog-post .add-comment textarea:-ms-input-placeholder {
    font-weight: 400;
    font-size: 0.9em;
    color: #aaa;
    font-weight: 400;
    font-family: "Open Sans", sans-serif
}

.blog-post .add-comment input:focus,
.blog-post .add-comment textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #999
}

.blog-post .add-comment textarea {
    min-height: 150px
}

blockquote.blockquote {
    font-size: 1.05em;
    line-height: 1.7em;
    border-color: #69471e;
    border: 1px solid #69471e;
    border-left: 6px solid #69471e;
    padding: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 30px
}

.blockquote-footer {
    color: #19a69d;
}

blockquote.blockquote p {
    margin-bottom: 15px !important
}

@media (max-width: 767px) {
    .posts-nav a {
        width: 100% !important
    }
}

@media (max-width: 575px) {
    .blog-post .title::after {
        display: none !important
    }
    .blog-post .author {
        margin-bottom: 10px
    }
}

.blog-single input,
textarea {
    color: white !important;
}


/* services box */

.service-box {
    background-color: #121315;
    padding: 24px;
    min-height: 250px;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border-top: 3px solid #f49522;
}

.service-box:hover .icon a {
    background-color: #f49522;
    color: black
}

.service-box .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    color: #f49522;
    align-self: center;
    margin: 16px 0 20px
}

.service-box .icon>i {
    font-size: 40px;
}

.service-box .icon a {
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
    background-color: #2f2f2f;
    color: #f49522;
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.service-box .service-box:hover .icon a {
    background-color: #f49522;
    color: black
}

.service-box h5 {
    font-size: 16px;
    font-weight: 600;
    color: #19a89e;
}

.service-box:after {
    content: "";
    position: absolute;
    right: -109px;
    bottom: -2px;
    width: 120px;
    height: 120px;
    background: #844c07;
    border-radius: 50px;
    opacity: 0.1;
    z-index: 0;
    transform: skewX(-46deg) scaleX(1);
    transition: 0.3s;
}

.service-box:hover::after {
    background: #f49522;
    opacity: 1;
}

@media(min-width:992px) and (max-width:1200px) {
    .container {
        max-width: 95%;
    }
}