/* main colors */


/* blue:#1da69b */


/* brown:#f49522 */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body {
    font-family: 'Lato', sans-serif;
}

.main-slider .owl-theme .owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main-slider .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #696969;
}

.main-slider .owl-theme .owl-dots .owl-dot.active span,
.main-slider .owl-theme .owl-dots .owl-dot:hover span {
    background: #f49522;
}

.main-slider .slide-item {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-slider .owl-carousel .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.main-slider .caption>* {
    margin-bottom: 25px;
}

.main-slider .caption {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    position: absolute;
    color: white;
    font-weight: bold;
    z-index: 2;
}

.main-slider .caption h2 {
    font-size: 40px;
    padding: 0 20px;
}

.main-slider .caption h3 {
    font-size: 25px;
    padding: 0 20px;
}

.main-slider .slide-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8295693277310925) 0%, rgba(0, 0, 0, 0.8911939775910365) 100%);
}

section.services {
    background-image: url(../img/pattern-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #222429;
    background-size: cover;
    padding: 120px 0;
}

section.blog {
    background-image: url(../img/lines.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #222429;
    background-size: cover;
    padding: 70px 0;
}

section.about {
    background-image: url(../img/lines.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #222429;
    background-size: cover;
    padding: 100px 0;
}

section.clients {
    background-image: url(../img/pattern-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #5d5d5d;
    background-size: cover;
    padding: 70px 0;
}

.about-accordion {
    color: white;
}

.sec-title {
    margin-bottom: 15px;
}

.sec-title h2 {
    position: relative;
    display: inline-block;
    z-index: 1;
    font-size: 25px;
}

.sec-title h2 span {
    width: 120%;
    height: 100%;
    left: 53%;
    position: absolute;
    transform: skewx(20deg) translate(-50%, -50%);
    background-color: #f49522;
    z-index: -1;
    top: 50%;
    box-shadow: 0px 0px 16px 0px #000000a1;
}

.sec-title h2 span::after,
.sec-title h2 span::before {
    content: "";
    width: 35px;
    height: 3px;
    background-color: #222429;
    top: 8px;
    left: 0;
    position: absolute;
}

.sec-title h2 span::before {
    right: 0;
    left: auto;
    bottom: 8px;
    top: auto;
}

.sec-title p {
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 0;
}

.sec-title h2 {
    font-weight: 600;
    color: white;
    padding: 15px 0;
}

@media(min-width:575px) and (max-width:991px) {
    .container {
        max-width: 90%;
    }
}


/* contact page */

.form-sec {
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    /* box-shadow: 0px 0px 10px #4181af42; */
    border-radius: 1em;
}

.form-sec .form-head h2 {
    font-weight: bold;
    color: #f49421;
}

.form-sec .form-head p {
    font-size: 18px;
    color: white;
}

.form-sec input,
.form-sec textarea {
    border: none;
    border-bottom: 1px solid #86571c;
    border-radius: 0;
    position: relative;
    background-color: #1b1a1a61;
    z-index: 1;
    width: 100%;
    color: white;
    box-shadow: 0px 0px 14px 3px #00000045;
    padding: 8px 12px;
}

.form-sec textarea {
    height: 100px;
    resize: none;
}

.form-sec .wrapper {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0.7em 0;
    width: 100%;
}

.form-sec .wrapper .under-line {
    position: absolute;
    height: 1px;
    width: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #f49421;
    transition: all 0.3s linear;
    z-index: 2;
}

.form-sec .r .under-line {
    bottom: 7px;
}

.form-sec input:focus,
.form-sec textarea:focus {
    box-shadow: none;
    outline: 0;
}

.form-sec input:focus+.under-line,
.form-sec textarea:focus+.under-line {
    width: 100%;
}

.form-sec .btn {
    padding: 10px 35px;
    font-size: 18px;
}

.contact-page .contact-detail h6:not(:first-child) {
    margin-bottom: auto;
    margin-top: 1.5em;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.contact-page .contact-detail h2 {
    font-weight: bold;
    color: #f49421;
}

.grey {
    color: #777777;
}

.contact-page .contact-detail p {
    font-size: 18px;
    color: white;
}

.contact-page .contact-detail a:link {
    font-size: 18px;
    color: #1a8d85;
    text-decoration: none;
    transition: 0.2s all linear;
}

.contact-page .contact-detail a:focus {
    font-size: 18px;
    color: rgb(54, 54, 54);
    text-decoration: none;
}

.contact-page .contact-detail a:hover {
    color: #50a8e7;
}

.contact-page .contact-detail a:visited {
    font-size: 18px;
    color: rgb(36, 36, 36);
    text-decoration: none;
}

.contact-page .contact-detail a i {
    color: #f49421;
}

.contact-page .contact-detail .social li {
    border: 1px solid black;
    padding: 7px 14px;
    transition: all 0.3s linear;
}

.contact-page .contact-detail .social li i {
    color: black
}

 ::-webkit-input-placeholder {
    opacity: 0.5;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}


/* Chrome <=56, Safari < 10 */

 :-moz-placeholder {
    opacity: 0.5;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}


/* FF 4-18 */

 ::-moz-placeholder {
    opacity: 0.5;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}


/* FF 19-51 */

 :-ms-input-placeholder {
    opacity: 0.5;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
}


/* IE 10+ */

 ::placeholder {
    opacity: 0.5;
    transition: opacity .5s;
}


/* Modern Browsers */

*:focus::-webkit-input-placeholder {
    opacity: 0;
}


/* Chrome <=56, Safari < 10 */

*:focus:-moz-placeholder {
    opacity: 0;
}


/* FF 4-18 */

*:focus::-moz-placeholder {
    opacity: 0;
}


/* FF 19-50 */

*:focus:-ms-input-placeholder {
    opacity: 0;
}


/* IE 10+ */

*:focus::placeholder {
    opacity: 0;
}

.contact-page {
    background-image: url(../img/pattern-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #222429;
    background-size: cover;
    padding: 120px 0;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(107, 107, 107);
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(107, 107, 107);
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(107, 107, 107);
}


/* Modern Browsers */